@import 'imports/@4ait/scss_fonts_expansion/fonts_declare';

.foura__trade_elements__elements_palette
{
  --4ait-elements--number-filter--wrapper-border: var(--trade-style-palette_light_divider_non-opaque);
  --4ait-elements--number-filter--wrapper-shadow: var(--trade-style-palette_shadow_2dp_box-shadow);

  --4ait-elements-number-filter--btn-reset--color-default: var(--trade-style-palette_light_label_secondary);
  --4ait-elements-number-filter--btn-reset--color-hover: var(--trade-style-palette_tint_red_50);
  --4ait-elements-number-filter--btn-reset--background-hover: var(--trade-style-palette_tint_red_90-opaque);

  @include setFontFromAnotherFont(font-4ait-elements, reset-btn-label, trade-font, m-navigation);
}